<div class="btn-group castle-menu">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Меню города
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="javascript:" id="up">Объявить войну</a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:" id="right">Отправить шпиона</a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:" id="down">Наслать чуму</a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:" id="left">Поцеловать Наташку</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="javascript:" id="center">Объявить дружбу</a>
        </li>
    </ul>
</div>